*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(41, 45, 49);
}

:root {
    --primary-color:rgb(183, 43, 226);
    --secondary-color: rgb(255, 255, 255);
    --font-fam: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--primary-color);
    font-family: var(--font-fam);
    text-align: center;
}

.code-snippet {
    font-family: 'Roboto Mono', monospace;
    color: var(--secondary-color);
}

.instruction {
    color:var(--primary-color);
    font-family: var(--font-fam);
    margin: 5px;
}

#header-intro{
    color:var(--secondary-color);
    font-family: var(--font-fam);
}

.snippet {
    border-style: dashed;
    border-color: var(--secondary-color);
    padding: 10px;
    margin: 10px;
}

.snippets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.snippet-header {
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 2px;
}
pre {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border: none;
    border-radius: 5px;
    margin:10px;
   
}

#header-intro {
    margin: 10px;
    text-align: center;
}

.snippet {
    width: min-content;
}



